.earn-content{
    
}
.earn-statistics{
    margin: 8px 0 0;
    padding: 40px 40px 24px;
    border-radius: 40px;
    border: solid 1px #2b2b2b;
    background-color: #1f1f1f;
}
.earn-statistics .Tooltip-handle {
    font-size: 18px;
}
.earn-statistics tbody tr{
    backdrop-filter: none;
}
.earn-statistics .dropdown-arrow {
    margin-left: -0.5rem;
}
.info-card-section {
    /* width: 100%;
    max-width: 912px; */
    margin: auto;
    gap: 8px;
    display: flex;
    
}

@media (max-width:960px) {
    .info-card-section{
        flex-direction: column;
    }
}
@media (min-width: 960px){
    .info-card-section{
        flex-direction: row;
    }
}
.earn-statistics {
  margin: 8px 0 0;
  padding: 40px 40px 24px;
  border-radius: 40px;
  border: solid 1px #2b2b2b;
  background-color: #1f1f1f;
}
@media (max-width: 1100px) {
  .earn-statistics {
    background-color: transparent;
    padding:0;
    border:none;
    margin-top: 32px !important;

  }


}
.chart-cell{
  background: #1f1f1f;
  color: white;
  margin: 0;
  border-radius: 40px;
  position: relative;
  padding: 24px;
  grid-column-start: span 5;
  margin-top: 24px;
}
.recharts-tooltip-wrapper .recharts-default-tooltip {
  padding: 5px 12px !important;
}

.recharts-tooltip-wrapper ul.recharts-tooltip-item-list li {
  padding: 0px !important;
  font-size: 12px !important;
  line-height: 15px !important;
}

.recharts-tooltip-wrapper ul.recharts-tooltip-item-list li+li {
  margin-top: 1px !important;
}

.recharts-tooltip-wrapper .recharts-default-tooltip {
  background-color: #000 !important;
  box-shadow: 0px 3px 6px #0000005c;
  border: none !important;
  border-radius: 4px;
  opacity: 0.9;
}
.recharts-tooltip-label{

}
.time-group{
  display: flex;
  gap: 8px;
  margin: auto;
  width: fit-content;
}
.time-checked{
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  
}
.time-unchecked{
  font-size: 14px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.4);
}
.time-option{
  border-radius: 13px;
  width: 50px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.time-option:hover{
  color: #fff;
}
.chart-cell .chart-title{
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 600;
}
.Earn-content {
  display: flex;
  
  gap: 1rem;
}
@media (max-width: 1300px) {
  .Earn-content {
    flex-direction: column;
  }
}
.Earn-left{
  flex: 1;
}
.Earn-right {
  display: grid;
  grid-template-rows: auto 1fr;
}

.Earn .Exchange-swap-box{
  width: 440px;
}

.Earings{
  margin: 10px 0;
  padding: 32px;
  border-radius: 40px;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  background-color: rgba(36, 36, 36, 0.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.Earings-left{
  font-size: 20px;
  font-weight: bold;
}
.Earings-left p{
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
}
.Earings-right{
  padding: 16px;
  border-radius: 29px;
  background-color: rgba(255, 255, 255, 0.05);
  display: flex;
  gap: 40px;
  width: 100%;
  max-width: 1014px;
  justify-content: space-between;
}
.Earings-right .cards{
  display: flex;
  gap: 8px;
}
.EarningsCard{
  min-width: 342px;
  height: 56px;
  margin: 0 8px 0 0;
  padding: 8px 12px 8px 8px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.07);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.EarningsCard>div{
  display: flex;
  align-items: center;
}
.Earings .tokenName{
  font-size: 18px;
  font-weight: bold;
  margin-left: 8px;
}
.Earings .tokenValue{
  font-family: Montserrat;
  font-size: 18px;
}
.Earings .usdValue{
  opacity: 0.5;
  font-family: Montserrat;
  font-size: 14px;
}
.Earings .action{
  margin-left: 24px;
}
.claim-all-btn{
  border-radius: 20px;
  width: 200px;
  font-size: 20px;
  font-weight: bold;
  min-width: 120px;
}
@media (max-width: 1000px){
  .Earings{
    padding: 24px 8px 8px;
    border-radius: 20px;
  }
  .Earings-right{
    padding: 8px;
    border-radius: 20px;
  }
  .Earings-right,.Earings-right .cards{
    flex-direction: column;
  }
  .Earings .action {
    margin-left: 16px;
  }
  .claim-all-btn{
    border-radius: 16px;
    width: 100%;
    font-size: 18px;
  }
  .btn-secondary{
    border-radius: 10px;
  }
  .Earings-right{
    flex-direction: column;
    gap: 16px;
  }
}
@media (max-width: 1300px) {
  .Earn .Exchange-swap-box {
    width: auto;
  }
  .Earings{
    flex-direction: column;
    justify-content: flex-start;
  }
}
