REACT_APP_POLYGON_RPC_URLS=https://rpc.ankr.com/polygon/ff0acb5e6d939c82faf23b137305fa342b36373346d8bb751b78202f27d380c9
REACT_APP_POLYGON_FALLBACK_PROVIDERS=https://rpc.ankr.com/polygon/ff0acb5e6d939c82faf23b137305fa342b36373346d8bb751b78202f27d380c9
REACT_APP_POLYGON_WS=wss://ws-matic-mainnet.chainstacklabs.com


# REACT_APP_POLYGON_RPC_URLS=http://localhost:1137/
# REACT_APP_POLYGON_FALLBACK_PROVIDERS=http://localhost:1137/
# REACT_APP_POLYGON_WS=ws://localhost:1137


REACT_APP_MUMBAI_TESTNET_RPC_URLS=http://localhost:80001/
REACT_APP_MUMBAI_TESTNET_FALLBACK_PROVIDERS=http://localhost:80001/
REACT_APP_MUMBAI_TESTNET_WS=ws://localhost:80001


REACT_APP_STATS_API_URL= https://stats.metavault.trade/

REACT_APP_MVX_API_MUMBAI_TESTNET_URL=https://gambit-server-staging.uc.r.appspot.com/
REACT_APP_MVX_API_POLYGON_URL=https://api.metavault.trade

REACT_APP_JSON_RPC_PROVIDER_URL_FOR_ADDRESS=https://rpc.ankr.com/eth

REACT_APP_EXPLORER_MAINNET_URL=https://etherscan.io/
REACT_APP_EXPLORER_ARBITRUM_URL=https://arbiscan.io/
REACT_APP_EXPLORER_AVALANCHE_URL=https://snowtrace.io/
REACT_APP_EXPLORER_MUMBAI_TESTNET_URL=https://mumbai.polygonscan.com/
REACT_APP_EXPLORER_POLYGON_URL=https://polygonscan.com/

REACT_APP_CHAINLINK_SUBGRAPH= https://api.thegraph.com/subgraphs/name/sdcrypt0/metavault-mvx-prices
REACT_APP_MVX_CORE_SUBGRAPH=https://api.thegraph.com/subgraphs/name/sdcrypt0/metavault-mvx-subgraph
REACT_APP_MVX_POSITIONS_SUBGRAPH=https://api.thegraph.com/subgraphs/name/sdcrypt0/metavault-mvx-subgraph
REACT_APP_MVX_REFERRAL_SUBGRAPH=https://api.thegraph.com/subgraphs/name/sdcrypt0/metavault-mvx-subgraph-referral

REACT_APP_GAS_API_URL=https://gasstation-mainnet.matic.network/v2

REACT_APP_DISABLE_ESLINT_PLUGIN=true

REACT_APP_SOCKET_API_KEY=1fd1bb3a-ba7b-4959-9cd0-a9b58c0c8b76

REACT_APP_CLOUDINARY_CLOUD_NAME=dfsqsebxd
REACT_APP_PRICE_API_WS_URL=wss://price-api.metavault.trade