.StakeV2 .Page-title-section {
  position: relative;
  z-index: 2;
}

.VesterDepositModal-info-rows {
  margin-bottom: 0.5rem;
  padding: 0 10px;
}

.CompoundModal-menu {
  margin-bottom: 0.5rem;
  padding: 10px;
}

.CompoundModal-menu .Checkbox {
  margin-bottom: 0.3rem;
}

.StakeV2-address-input {
  padding: 1rem 2.2rem;
  padding-bottom: 0;
}

.StakeV2-buy-mvx-modal .Modal-content {
  max-width: 30rem;
}

.StakeV2-address-input input {
  box-sizing: border-box;
  width: 100%;
  font-size: 1.1rem;
}

.StakeV2-boost-bar {
  overflow: hidden;
  vertical-align: middle;
  margin-left: 0.2rem;
  border-radius: 2px;
  width: 1rem;
  height: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: inline-block;
  position: relative;
}

.StakeV2-boost-icon {
  font-size: 0.7rem;
  z-index: 2;
}

.StakeV2-boost-bar-fill {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
}

.StakeV2-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin-bottom: 60px;
  padding-top: 1rem;
}

.stake-cta2 {
  display: flex;
  align-items: center;
  padding: 30px 0 0 0;
  gap: 15px;
}

.stake-cta3 {
  background: #625df5;
  color: #fff;
  flex: 1 0 76px;
  margin: 0;
}

.stake-cta4 {
  flex: 1 0 212px;
  margin: 0;
}

.total-cta {
  display: flex;
  align-items: center;
  padding-right: 30px;
  gap: 15px;
}

@media (max-width: 768px) {
  .stake-cta2 {
    flex-direction: column;
    align-items: flex-start;
  }

  .stake-cta3,
  .stake-cta4 {
    width: 100%;
    flex: 0;
  }

  .total-cta {
    flex-direction: column;
  }
}

.StakeV2-content {
}

@media (max-width: 900px) {
  .StakeV2-cards {
    grid-template-columns: 1fr;
  }

  .StakeV2-content {
    min-height: 100vh;
  }

  .StakeV2-total-rewards-card {
    grid-row: 4;
  }
}
.ahreftextcolor {
  color: white;
}
.ahreftextcolor:hover {
  color: white;
}
.btnwt {
  width: 35%;
}
@media (max-width: 900px) {
  .btnwt {
    width: 38%;
  }
}
@media (max-width: 425px) {
  .btnwt {
    width: 46%;
  }
}
@media (max-width: 366px) {
  .btnwt {
    width: 53%;
  }
}
.mb-6 {
  margin-bottom: 42px;
}
.marginbottommedia {
  margin-bottom: -20px;
}
@media (max-width: 767px) {
  .marginbottommedia {
    margin-bottom: 10px;
  }
}

.options-2 {
  padding-right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin: 20px 0;
}

@media (max-width: 768px) {
  .options-2 {
    flex-direction: column;
    align-items: flex-start;
  }
}

.withdraw {
  background: #625df5 !important;
  color: #fff !important;
}

.secondary-color {
  background: #625df5 !important;
  color: #fff !important;
}

.gradient {
  background: linear-gradient(89.76deg, #f2c75c -1.81%, #6461ff 74.59%) !important;
  color: #000 !important;
}

.gradient:hover {
  background: #f2c75c !important;
  color: #000 !important;
}

.purple-hover:hover {
  background: #8783f5 !important;
  color: #fff !important;
}

.critical-divider {
  height: 4px;
  background: #0b083c;
  width: 100%;
}

.query-modal {
  /* width: 377px !important; */
}

@media (max-width: 400px) {
  /* .query-modal {
    width: 274.85px !important;
  } */
}

@media (max-width: 1039px) and (min-width: 900px) {
  .query-button {
    font-size: 12px !important;
  }
}

@media (max-width: 660px) {
  .query-actions {
    grid-template-columns: 1fr !important;
    width: 100%;
  }
}

.buy-mvx--btn {
  background: #f2c75c;
  color: #141414;
  text-decoration: none;
  padding: 6.5px 12px;
  border-radius: 36px;
  font-size: 15px;
  line-height: 23px;
  font-weight: 600;
  transition: background 0.2s ease-in-out;
}

.buy-mvx--btn:hover {
  background: #ffc56b;
  color: #141414;
}
