.ValidationRow {
  display: grid;
  grid-template-columns: auto 1fr;
}

.ValidationRow-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ValidationRow-icon {
  margin-right: 1rem;
}

.BeginAccountTransfer .ValidationRow {
  margin-bottom: 1rem;
}

.BeginAccountTransfer-validations {
  margin-bottom: 1.5rem;
}

.BeginAccountTransfer .Modal .App-cta {
  display: block;
  text-align: center;
}

.BeginAccountTransfer {
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  padding: 40px;
  max-width: 560px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #262626;
}
.BeginAccountTransfer .Page-title {
  color: #fff;
  margin-bottom: 16px;
}
.BeginAccountTransfer .Page-description {
  color: #fff;
  opacity: 0.5;
}
.BeginAccountTransfer .input-row {
  margin-bottom: 16px;
}
