.PositionDropdown-dots-icon {
  padding: 12px 12px 12px;
  font-size: 1rem;
  border: none;
  color: rgba(255, 255, 255, 0.7);
  display: inline-flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 13px;
}

.PositionDropdown-dots-icon:hover {
  color: rgba(255, 255, 255, 1);
  background: rgba(255, 255, 255, 0.1);
}

.PositionDropdown-extra-options {
  position: relative;
}

.PositionDropdown-extra-options .menu-items {
  top: 0.5rem;
  min-width: 224px;
  padding: 16px 0px 16px 0px;
}
.PositionDropdown-extra-options .menu-item {
  padding-left: 24px;
  border-radius: 0px;
  opacity: 0.5;
  font-size: 16px;
}
.PositionDropdown-extra-options .menu-item > p {
  padding: 8px 0px;
}
