.TradeHistory-row {
  font-size: 1rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
}

.TradeHistory-empty-row {
  font-size: 14px;
  font-weight: 600;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TradeHistory-time {
  font-size: 0.8rem;
  margin-bottom: 0.1rem;
}
.textcolor {
  color: rgba(255, 255, 255, 0.8);
}
.textcolor:hover {
  color: white !important;
}

/* .TokenSelector-tokens {
  padding: 10px 0 70px 5px;
} */
