.BuyMVXMVLP {
  justify-content: space-between;
  max-width: 1140px;
  margin: 0 auto;
}

.BuyMVXMVLP-container {
}

.BuyMVXMVLP-container .section-title-content {
  justify-content: flex-start;
}

@media (max-width: 425px) {
  .BuyMVXMVLP-container {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
}
.buypage-container-pd {
}

.purple-hover:hover {
  background: #8783f5 !important;
  color: #fff;
}
