.Tab.block {
  display: grid;
  gap: 8px;
  grid-auto-flow: column;
  font-size: 16px;
  border-radius: 22px;
  overflow: hidden;
  color: #fff;
  background: rgba(118, 118, 128, 0.24);
  box-shadow: inset 0px 0px 30px 5px rgba(255, 255, 255, 0.01);
}

.Tab-option-icon {
  margin-right: 0.3rem;
  /*opacity: 0.7;*/
}

.Tab.block .Tab-option {
  text-align: center;
  padding: 0.8rem;
  padding-left: 2rem;
  padding-right: 2rem;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.05);
}

.Tab.block .Tab-option:hover {
  background: rgba(118, 118, 128, 0.54);
}

.Tab.block .Tab-option.active {
  background-color: #fff;
  color: #1a1a1a;
  opacity: 1;
  font-weight: 600;
  cursor:default;
}

.Tab.block .Tab-option.active .Tab-option-icon {
  opacity: 1;
}

.Tab.inline .Tab-option {
  cursor: pointer;
  display: inline-block;
  margin-right: 1.5rem;
  font-weight: 600;
}

.Tab.inline .Tab-option:hover {
  opacity: 0.8;
}

.Tab.inline .Tab-option.active {
  opacity: 1;
  pointer-events: none;
}
