.Exchange {
  max-width: 100rem;
  margin: auto;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .Exchange {
    padding: 0 10px;
  }
}
@media (max-width: 480px) {
  .Exchange-list-tab-container {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}

@media (min-width: 480px) {
  .Exchange-list-tab-container {
    align-items: center;
  }
}
.Exchange-list-tab-container {
  /* display: grid;
  grid-template-columns: auto auto; */
  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 0.7rem;
}

.Exchange-should-show-position-lines {
  font-size: 0.9rem;
}

.Exchange-empty-positions-list-note {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.position-loading-icon {
  display: inline-block;
  font-size: 0.8rem;
  margin-left: 0.5rem;
  color: #3749e6;
  vertical-align: middle;
  margin-top: -0.2rem;
}

.Exchange-settings-row {
  margin-bottom: 0.5rem;
  padding: 0 10px;
}

.Exchange-settings .App-cta {
  margin-top: 1rem;
}

.Exchange-content {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 1rem;
}

.Exchange-position-list-orders {
  white-space: nowrap;
}

.Exchange-lists {
  border-radius: 30px;
  background: #1f1f1f;
  padding: 24px 16px 16px;
  margin-top: 8px;
}
.Exchange-lists.large {
  display: block;
}

.Exchange-lists.small {
  display: none;
}

.Exchange-list-tabs {
}

.Exchange-right {
  display: grid;
  grid-template-rows: auto 1fr;
}

.Exchange-leverage-slider-settings {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.Exchange-leverage-slider-settings .Checkbox {
  display: grid;
  grid-template-columns: 1fr auto;
  direction: rtl;
}

.Exchange-wallet-tokens {
  position: relative;
  min-height: 10rem;
  display: none;
}

.Exchange-wallet-tokens-content {
  position: absolute;
  top: 1rem;
  bottom: 0;
  left: 0;
  right: 0;
}

.Exchange-bottom-header-item {
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding-left: 0.1rem;
  opacity: 0.7;
  cursor: pointer;
}

.Exchange-bottom-header-item.active {
  opacity: 1;
  pointer-events: none;
}

.Exchange-swap-connect-wallet {
  text-align: center;
  cursor: pointer;
  border: 1px solid rgb(50, 50, 50);
  border-radius: 3px;
}

.Exchange-swap-connect-wallet:hover {
  background: #272e33;
  border-radius: 6px;
}

.Exchange-swap-settings.Exchange-swap-txns-status {
  text-align: right;
  margin-right: 1rem;
}

.Exchange-swap-account .Exchange-swap-address:hover,
.Exchange-swap-account .Exchange-swap-txns-status:hover {
  opacity: 1;
}

.Exchange-leverage-slider {
  margin-top: 2rem;
  margin-bottom: 3.5rem;
  padding: 0 0.5rem;
}

.Exchange-swap-leverage-options {
  text-align: right;
}

.Exchange-swap-leverage-option {
  display: inline-block;
  margin-left: 0.5rem;
  padding: 0 0.5rem;
  border-radius: 3px;
  background: #5b2ab0;
  color: white;
  opacity: 0.7;
  cursor: pointer;
}

.Exchange-swap-leverage-option.active {
  background: #842ec9;
  opacity: 1;
  pointer-events: none;
}

.Exchange-swap-leverage-option:hover {
  opacity: 1;
}

.Exchange-swap-leverage-unlock-icon {
  font-size: 0.5rem;
  vertical-align: middle;
  margin-top: -0.2rem;
}

.Exchange-swap-placeholder {
  height: 7.212125rem;
  position: relative;
}

.Exchange-wave {
  z-index: 1;
  position: absolute;
  left: 1rem;
  right: 1rem;
  top: 1rem;
  bottom: 1rem;
  mask-image: url(../../img/wave-01.png);
  mask-size: 90% 90%;
  mask-repeat: no-repeat;
  mask-position: center;
  filter: blur(50px);
  background: linear-gradient(
    40deg,
    rgba(96, 4, 189, 1) 0%,
    rgba(65, 105, 224, 1) 22%,
    rgba(99, 8, 191, 1) 23%,
    rgba(51, 9, 115, 1) 37%,
    rgba(255, 36, 145, 1) 38%,
    rgba(201, 16, 161, 1) 50%,
    rgba(171, 10, 163, 1) 59%,
    rgba(117, 4, 128, 1) 67%,
    rgba(96, 29, 196, 1) 68%,
    rgba(92, 55, 204, 1) 84%,
    rgba(84, 88, 214, 1) 100%
  );
  pointer-events: none;
}

.PositionEditor-info-box {
  margin-bottom: 0.7rem;
  /*padding-left: 0.7rem;*/
}

.PositionEditor .Modal .Modal-content {
  width: 600px;
}
.PositionEditor .Modal .Modal-content .Modal-body {
  margin-top: 32px;
}

.PositionEditor .Modal-content .PositionEditor-info-box,
.Confirmation-box .Modal-content .Confirmation-box-info-box {
  display: flex;
  flex-direction: column;
  padding: 24px;
  border-radius: 20px;
  background-color: rgba(255,255,255,0.02);
  gap: 16px;
}
.PositionEditor .Modal-content .PositionEditor-info-box .Exchange-info-row,
.Confirmation-box .Modal-content .Confirmation-box-info-box .Exchange-info-row {
  margin: 0;
}
.PositionEditor .Modal-content .PositionEditor-info-box span,
.PositionEditor .Modal-content .PositionEditor-info-box .Exchange-info-label,
.Confirmation-box .Modal-content .Confirmation-box-info-box  .Exchange-info-label,
.Confirmation-box .Modal-content .Confirmation-box-info-box  .PositionEditor-allow-higher-slippage span {
  opacity: 1;
  font-size: 16px;
  font-weight: 600;
  color: rgba(255,255,255,0.6);
}

.PositionEditor-keep-leverage-settings .Checkbox {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  direction: rtl;
  font-size: 0.9rem;
  /*margin-bottom: 0.3rem;*/
  /*padding: 10px 0;*/
}

.PositionEditor-accept-profit-warning .Checkbox {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  direction: rtl;
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}

.PositionEditor-allow-higher-slippage .Checkbox {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  direction: rtl;
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}

.ExchangeChart-range-option {
  display: inline-block;
  margin-right: 1rem;
  font-size: 0.9rem;
  cursor: pointer;
  opacity: 0.6;
}

.ExchangeChart-range-option:hover {
  opacity: 0.8;
}

.ExchangeChart-range-option.active {
  opacity: 1;
}

.ExchangeChart {
  position: relative;
  height: 47rem;
}

.ExchangeChart-main-price {
  font-size: 1.1rem;
}

.ExchangeChart-title {
  font-size: 1.4rem;
  font-weight: bold;
}

.ExchangeChart-info-label {
  font-size: 0.8rem;
  opacity: 0.7;
}

.ExchangeChart-top-inner {
  display: grid;
  grid-template-columns: auto auto auto auto auto 1fr;
  grid-column-gap: 3rem;
  align-items: center;
}

.ExchangeChart-dollar-sign {
  display: inline-block;
  margin-right: 0.3rem;
  opacity: 0.7;
}

.ExchangeChart-main-price-text {
  display: inline-block;
}

.ExchangeChart-top {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: auto;
  z-index: 2;
  margin-bottom: 60px;
}

.ExchangeChart.tv .ExchangeChart-top {
  position: relative;
  padding: 1rem 0.2rem;
  z-index: 2;
}

@media (max-width: 400px) {
  .position-query {
    padding-left: 10px;
  }
}

.ExchangeChart.tv .ExchangeChart-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 2rem;
  z-index: 1;
  overflow: hidden;
}
.ExchangeChart-bottom-controls {
  display: inline-block;
}
.ExchangeChart-bottom-controls .Tab .Tab-option {
  width: 3rem;
  padding: 0.5rem 0;
}
.ExchangeChart.tv .ExchangeChart-bottom-header {
  position: absolute;
  display: flex;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  z-index: 5;
}
.ExchangeChart.tv .ExchangeChart-bottom-stats {
  font-size: 14px;
  padding: 0.5rem 0;
  margin-left: 2rem;
  white-space: nowrap;
  z-index: 2;
}
.ExchangeChart-bottom-stats-label {
  color: rgba(255, 255, 255, 0.7);
  font-weight: bold;
}
.ExchangeChart-bottom-stats-value {
  display: inline-block;
  margin-left: 0.2rem;
  margin-right: 0.5rem;
}
.length-5 .ExchangeChart-bottom-stats-value {
  width: 4rem;
}
.length-4 .ExchangeChart-bottom-stats-value {
  width: 3.4rem;
}
.length-3 .ExchangeChart-bottom-stats-value {
  width: 2.8rem;
}
.length-2 .ExchangeChart-bottom-stats-value {
  width: 2.2rem;
}
.length-1 .ExchangeChart-bottom-stats-value {
  width: 1.6rem;
}

.ExchangeChart.tv .ExchangeChart-bottom-content {
  position: absolute;
  bottom: 0.5rem;
  left: 0;
  right: 0;
  top: 0.5rem;
}

.Exchange-price-tooltip {
  font-size: 0.9rem;
  background: linear-gradient(90deg, rgba(57, 28, 147, 0.9) 0%, rgba(66, 24, 140, 0.9) 100%);
  padding: 0.6rem;
  border: 1px solid rgba(30, 9, 94, 0.5);
  line-height: 1.3rem;
}

.Exchange-price-time {
  font-size: 0.8rem;
  font-weight: normal;
}

.Error-modal .Modal-content {
  width: 420px;
}

.PositionEditor .Modal-content {
  width: 600px;
  position: absolute;
  max-height: 80vh;
  overflow: hidden;
  border: none;
  top: auto;
  bottom: auto;
  overflow-y: auto;
}

.PositionEditor .Modal-content .Modal-body {
  /*overscroll-behavior: smooth;*/
  max-height: calc(80vh - 2rem);
  /*overflow-y: auto;*/
}

.PositionEditor .Modal-content {
  max-height: 100vh;
}

.PositionEditor .Tab {
  margin-bottom: 0.7rem;
}

.PositionEditor-token-symbol {
  font-size: 1.35rem;
  text-align: right;
}

.PositionEditor .Modal-content .Tab.block {
  padding: 8px;
  border-radius: 22px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 24px;
  gap: 8px
}

.PositionEditor .Modal-content .Tab.block .Tab-option.active {
  background-color: #fff;
  color: #1a1a1a;
}

.PositionEditor .Modal-content .Tab.block .Tab-option {
  opacity: 1;
  font-size: 16px;
  font-weight: 600;
  border-radius: 17px;
  background-color: rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, 0.5);
}

.PositionEditor .Modal-content .Tab.block .Tab-option:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.8);
}

.ExchangeChart-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.Exchange-list-modal .Modal-content {
  width: 22rem;
}

.Exchange-list {
  width: 100%;
  /* font-family: "Inter", sans-serif; */
}

.Position-list-order {
  white-space: nowrap;
}

.Exchange-list .App-card {
  margin-bottom: 1rem;
}

.Exchange-list-item-error {
  color: #ff7b41;
  margin-top: 0.3rem;
  font-size: 0.9rem;
}

.Exchange-list.small {
  display: none;
}

button.Exchange-list-action {
  font-size: 0.95rem;
  padding: 11px 16px;
  border-radius: 13px;
  background: rgb(255, 123, 65, 0.05);
  border: none;
  color: #ff7b41;
  /* margin-right: 1rem; */
}

button.Exchange-list-action:hover {
  background: rgb(255, 123, 65, 0.1);
}

table.Exchange-list {
  border-collapse: separate;
  border-color: transparent;
  border-spacing: 0px 8px;
}

table.Exchange-list th,
table.Exchange-list td {
  font-weight: normal;
  text-align: left;
  padding: 0.7rem;
  padding-left: 1rem;
  font-size: 16px;
}
table.Exchange-list.Orders th,
table.Exchange-list.Orders td {
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
}

table.Exchange-list tr {
  backdrop-filter: none;
}

table.Exchange-list tr:last-child {
  border-bottom: none;
}

table.Exchange-list tr:hover {
}

table.Exchange-list tr.Exchange-list-header {
  background: #242424;
  border-radius: 17px;
  width: 100%;
  height: 50px;
}

.table-normalizer {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  /* background: rgba(118, 118, 128, 0.24); */
  /* margin-top: 60px; */
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

table.Exchange-list tr.Exchange-list-header th {
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
}

table.Exchange-list th:first-child {
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
}
table.Exchange-list th:last-child {
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
}

.Exchange-leverage-box {
  margin-bottom: 0.7rem;
}

.Exchange-swap-box-info {
  margin-bottom: 0.7rem;
}

.Exchange-info-row {
  display: grid;
  grid-template-columns: auto auto;
  font-size: 14px;
  margin: 0 0 20px 0;
}

.Exchange-info-row .font-number .Tooltip-handle,
.Exchange-info-row .font-number .inline-block,
.Exchange-info-row .font-number div,
.Exchange-info-row .font-number {
  font-family: "Montserrat",sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

.Exchange-info-row.top-line {
  border-top: 1px solid #eaeaea26;
  margin-top: 1rem;
  padding-top: 1rem;
}

.Exchange-info-label-button {
  cursor: pointer;
}

.Exchange-info-label-button a {
  /*text-decoration: none;*/
  color: white;
  font-weight: 600;
  font-size: 14px;
  opacity: 0.6;
}
.Exchange-info-label-button a:hover {
  /*text-decoration: none;*/
  color: rgba(255, 255, 255, 1);
}

.Exchange-info-label-button:hover {
  opacity: 0.9;
}

.Exchange-info-label {
  opacity: 0.6;
  display: flex;
  align-items: center;
  font-weight: 600;
}
.Exchange-info-value-warning {
  color: #ff7b41;
}
.Confirmation-box-warning,
.Confirmation-box-warning a {
  color: #ff7b41;
  font-size: 0.9rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 1rem;
}

.Exchange-swap-left {
  display: flex;
  font-size: 0.9rem;
  height: 18px;
  gap: 4px;
  font-weight: 600;
  align-items: center;
  justify-content: left;
  text-align: center;
}
.Exchange-swap-right {
  display: flex;
  font-size: 0.9rem;
  height: 18px;
  gap: 4px;
  font-weight: 600;
  align-items: center;
  justify-content: right;
  text-align: center;
}
.Exchange-swap-section-top span {
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Exchange-swap-box {
  width: 27rem;
  display: grid;
  position: relative;
}

.Exchange-swap-market-box-title {
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  opacity: 0.5;
  font-weight: 600;
  color: #fff;
}

.Exchange-swap-box-inner {
  padding: 1rem;
}

.Exchange-swap-market-box {
  padding: 1rem;
  margin-top: 0.8rem;
  padding-bottom: 1rem;
}

.Exchange-swap-market-box .App-card-divider {
  margin-left: -1rem;
  margin-right: -1rem;
  height: 1px;
  opacity: 0.1;
  background-color: #fff;
  margin-bottom: 16px;
}

.Exchange-swap-box .Overlay-content-outer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10rem;
}

.Exchange-swap-box .Overlay-content {
  padding: 0.7rem;
}

.Exchange-swap-box .TokenSelector .Modal,
.Selector .Modal {
  align-items: flex-start;
  justify-content: flex-end;
}

.Exchange-swap-box .TokenSelector .Modal-content,
.Selector .Modal-content {
  width: 600px;
  position: absolute;
  max-height: 100vh;
  top: 0;
  bottom: 0;
  overflow: hidden;
  border: none;
}
.Exchange-swap-box .TokenSelector .Modal-content .Modal-body {
  scroll-margin-right: 25rem;
  overscroll-behavior: smooth;
  scrollbar-width: thin;
  max-height: calc(100vh - 5rem);
  /* overflow-y: auto; */
  margin-top: 32px;
}

.Selector .Modal-content {
  /* height: max-content; */
}

.Exchange-swap-box .Tab {
  margin-bottom: 1rem;
}

.Exchange-swap-section {
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 20px;
  border: solid 1px rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.05);
  padding: 1.5rem;
}

.Exchange-swap-option-tabs.Tab.block .Tab-option {
  padding: 0.8rem;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.Exchange-swap-option-tabs.Tab.block .Tab-option.long.active {
  font-size: 16px;
  font-weight: 600;
  color: #79ffab;
  border: solid 1px rgba(121, 255, 171, 0.2);
  background-color: rgba(121, 255, 171, 0.05);
  border-radius: 20px 0px 0px 20px;
}

.Exchange-swap-option-tabs.Tab.block .Tab-option.short.active {
  font-size: 16px;
  font-weight: 600;
  color: #ff7b41;
  border: solid 1px rgba(255, 123, 65, 0.2);
  background-color: rgba(255, 123, 65, 0.05);
  border-radius: 0px 20px 20px 0px;
}

.Exchange-swap-order-type-tabs {
  margin-top: 1rem;
  margin-left: 1rem;
}

.Exchange-swap-option-tabs.Tab.block .Tab-option-icon {
  margin-top: -0.1rem;
  /*transform: scale(0.75);*/
  vertical-align: middle;
  margin-right: 0.5rem;
}

.Exchange-swap-section-top {
  display: grid;
  grid-template-columns: auto auto;
  font-size: 0.9rem;
  margin-bottom: 0.8rem;
  height: 20px;
}

.Exchange-swap-section-bottom {
  display: grid;
  grid-template-columns: 1fr auto;
  padding-bottom: 0.2rem;
  align-items: center;
}

.Exchange-swap-message {
  font-size: 0.9rem;
  opacity: 0.7;
  margin: 5px 0;
}

.Exchange-swap-input-container {
  position: relative;
  overflow: hidden;
}

.Exchange-swap-max {
  position: absolute;
  right: 8px;
  top: 0;
  padding: 7px 16px;
  z-index: 1;
  cursor: pointer;
  width: 60px;
  height: 32px;
  border-radius: 10px;
  opacity: 1;
  background-color: rgb(75, 75, 75);
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}

.Exchange-swap-max:hover {
  background-color: rgb(100, 100, 100);
}

.Exchange-swap-section-bottom .TokenSelector-box {
  font-size: 18px;
  font-weight: 600;
}

.Exchange-leverage-box .TokenSelector-caret {
  font-size: 1rem;
  margin-left: 0.2rem;
}

input.Exchange-swap-input {
  padding: 0;
  padding-right: 8px;
  max-width: 100%;
  font-size: 30px;
  font-weight: 500;
  width: 100%;
  line-height: 1.07;
}
input.Exchange-swap-input.small {
  max-width: 20px;
  font-weight: 500;
}

.Exchange-swap-button-container {
  width: 100%;
  padding: 16px 0px 0px 0px;
}

.App-cta.Exchange-swap-button,
.App-cta.Exchange-swap-button.positive,
.App-cta.Confirmation-box-button {
  display: block;
  width: 100%;
  color: #fff;
  box-shadow: inset 0 2px 0 0 rgba(255, 255, 255, 0.2);
  background-image: linear-gradient(to bottom, #f2c75c, #cb9612);
  font-size: 20px;
  font-weight: bold;
  padding-top: 19px;
  padding-bottom: 19px;
}

.App-cta.Exchange-swap-button.negative {
  box-shadow: inset 0 2px 0 0 rgba(255, 255, 255, 0.2);
  background-image: linear-gradient(to bottom, #ff7b41, #ff570d);
}

.Exchange-swap-ball-container {
  position: relative;
  z-index: 1;
}

.Exchange-swap-ball-icon {
  text-align: center;
  display: block;
}

.Exchange-swap-ball {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 50%;
  margin-left: -20px;
  top: -24px;
  border-radius: 12px;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 2px 0 0 rgba(255, 255, 255, 0.2);
  background-image: linear-gradient(to bottom, #f2c75c, #cb9612);
}

.Exchange-swap-ball:hover {
  filter: brightness(120%) saturate(120%);
}

.Exchange-swap-ball:hover .Exchange-swap-ball-icon {
  opacity: 1;
}

table.Exchange-list-small {
  width: 100%;
  background: linear-gradient(45deg, rgba(11, 5, 55, 0.6) 0%, rgba(21, 3, 48, 0.6) 100%);
}

table.Exchange-list-small th,
table.Exchange-list-small td {
  font-weight: normal;
  text-align: left;
  padding: 0.7rem;
}

.Exchange-list-card-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 0.5rem;
}

.Exchange-list-title {
  width: 2rem;
  display: inline-block;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 600;
}

.Exchange-list .Tooltip-handle {
  font-size: 16px;
}

.Exchange-list-info-label {
  display: flex;
  gap: 4px;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
}

.Exchange-list-asset {
  display: flex;
  gap: 16px;
  align-items: center;
}
.Exchange-list-muted {
  font-size: 0.9rem;
}

.Exchange-list-card .Exchange-list-side {
  text-align: right;
}

.Exchange-list-card-main-info {
}

.Exchange-list-card .Exchange-list-size-info {
  margin-bottom: 0.5rem;
}

.Confirmation-box {
  font-size: 20px;
}

.Confirmation-box-main {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 32px 0 1.5rem;
}
.Confirmation-box-main-icon {
  margin: 5px 0;
}
.Confirmation-box-main-icon:after {
  content: "↓";
}
.Confirmation-box-main-icon.dot:after {
  content: "•";
}

.Confirmation-box .Modal-content {
  width: 600px;
}

.Confirmation-box-row {
  margin-top: 1rem;
}

/*.Confirmation-box-button {
  margin-top: 10px;
  width: 100%;
}*/

.Exchange-footer {
  text-align: center;
  padding-top: 2rem;
  height: 5rem;
}

@media (max-width: 1500px) {
  .Exchange-swap-box {
    width: 25rem;
  }
}

@media (max-width: 1300px) {
  .Exchange-list.large {
    display: none;
  }

  .Exchange-list.small {
    display: table;
  }
}

@media (max-width: 1100px) {
  .Exchange-swap-box {
    width: auto;
  }

  .ExchangeChart.tv .ExchangeChart-bottom-header {
    display: block;
  }

  .ExchangeChart.tv .ExchangeChart-bottom-stats {
    margin-left: 0;
  }

  .ExchangeChart.tv .ExchangeChart-bottom-content {
    position: absolute;
    bottom: 0.5rem;
    left: 0;
    right: 0;
    top: 2.5rem;
  }

  .Exchange-list-tabs {
    margin-top: 0;
  }

  .Exchange-wallet-tokens {
    display: none;
  }

  .Exchange-swap-placeholder {
    display: none;
  }

  .ExchangeChart {
    height: 25rem;
  }

  .Exchange-content {
    grid-template-columns: 1fr;
  }

  .Exchange-lists.large {
    display: none;
  }

  .Exchange-lists.small {
    display: block;
  }

  .Exchange-list-title {
  }

  .Exchange-swap-box .TokenSelector .Modal {
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .Exchange-swap-box .TokenSelector .Modal-content,
  .Exchange-swap-box .Selector .Modal-content {
    /* display: block;
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
    height: auto;
    border: 1px solid #1c0e6a;
    width: 100%; */
  }

  .Exchange-swap-box .TokenSelector .Modal-content,
  .Selector .Modal-content {
    width: 27rem;
    position: absolute;
    max-height: 80vh;
    overflow: hidden;
    border: none;
    top: auto;
    bottom: auto;
  }

  .Exchange-swap-box .TokenSelector .Modal-content .Modal-body {
    /* overflow-y: auto; */
    /* max-height: calc(70vh - 5.5rem); */
    scroll-margin-right: 25rem;
    overscroll-behavior: smooth;
    scrollbar-width: thin;
    margin-top: 16px;
    /* height: 600px; */
  }

  .Exchange-swap-box .TokenSelector .Modal,
  .Selector .Modal {
    align-items: center;
    justify-content: center;
  }

  input.Exchange-swap-input {
    max-width: 15rem;
  }

  .ExchangeChart-bottom-controls .Tab .Tab-option {
    width: 2.5rem;
    padding: 0.3rem 0;
    font-size: 0.8rem;
  }

  .PositionEditor .Modal .Modal-content .Modal-body {
    margin-top: 16px;
  }
}

@media (max-width: 700px) {
  .PositionEditor .Modal-content {
    width: 90vw;
  }

  .ExchangeChart-top-inner {
    grid-template-columns: auto auto auto;
    grid-column-gap: 0.5rem;
  }

  .ExchangeChart-title {
    font-size: 1.2rem;
  }

  .ExchangeChart-additional-info {
    display: none;
  }

  .Exchange-content {
  }
  .Exchange-swap-box .TokenSelector .Modal {
    margin: 0 1rem;
  }
}

.flex {
  display: flex;
  align-items: center;
}

.nav-button {
  font-family: "Inter", sans-serif;
}
