.Referrals {
  padding-top: 40px;
  max-width: 1140px;
  margin: 0 auto;
}

.section-center {
  margin: 0 auto;
  text-align: center;
}
.mt-large {
  margin-top: 2rem;
}
.mt-medium {
  margin-top: 1rem;
}
.referral-tab-container {
  margin: 1rem auto 2rem auto;
}
.referral-card {
  position: relative;
  padding: 1.5rem;
  border-radius: 13px;
  max-width: 38.19rem;
  /* background: rgba(118, 118, 128, 0.24); */
  /* border: 1px solid rgba(255, 255, 255, 0.2); */
  /* border-radius: 15px; */

  margin-bottom: 140px;
}
.referral-card .title {
   font-size: 32px;
   font-weight: bold;
  color: #ffffff;
  padding: 0.5rem 0;
  margin: 0;
}
.referral-card .sub-title {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 1rem;
}
.referral-card .card-action {
  margin-top: 2rem;
}

.referral-card .card-action input {
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  margin-right: 1rem;
}
.referral-body-container .list {
  margin-top: 2rem;
}
.reward-history {
  margin-top: 2rem;
  padding-bottom: 30px;
}
.active-referral-code .edit {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15px;
}
.active-referral-code .edit span {
  margin-right: 1rem;
  font-size: 16px;
}
.active-referral-code .edit svg {
  cursor: pointer;
  font-size: 16px;
}
.active-referral-code .edit svg:hover {
  opacity: 0.75;
}
.active-referral-code .tier {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.active-referral-code .tier span {
  font-size: 0.85rem;
  color: #bfbfbe;
  margin-right: 0.5rem;
}
.active-referral-code .tier a {
  text-decoration: none;
  font-size: 0;
}
.mb-sm {
  margin-bottom: 1rem;
}
.edit-referral-modal {
  width: 20rem;
  padding: 10px;
  margin: 0 auto;
}
.referral-code-edit span {
  margin-right: 0.5rem;
}
.referral-code-edit svg {
  opacity: 0.75;
  cursor: pointer;
}

.referral-code-edit svg:hover {
  opacity: 1;
}
.create-referrar-code {
  text-align: center;
  max-width: 500px;
  margin: 2rem auto;
}
@media (max-width: 425px) {
  .transparent-btnmargintop {
    margin-top: 10px;
  }
}

.transparent-btn {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0.5rem 1rem;
  color: white;
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;
}
.transparent-btn:hover {
  background: rgba(118, 118, 128, 0.24);
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.referral-table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media (max-width: 425px) {
  .referral-table-header {
    display: block;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
  }
}

.referral-table-header .title {
  margin: 0;
}
.referral-table-header .sub-title {
  color: #bfbfbe;
  font-size: 0.9rem;
  margin-left: 0.5rem;
}

.referral-table-header .ml-small {
  margin-left: 0.5rem;
}
.create-referrar-code form {
  display: flex;
  align-items: inherit;
  justify-content: center;
  margin: 2rem 0;
}
.create-referrar-code form input {
  border: 1px solid #4b494a;
  border-radius: 4px;
  padding: 0.75rem;
  font-size: 1rem;
  width: 400px;
}
.create-referrar-code form button {
  margin-left: 1rem;
}

.referral-stats {
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.text-center {
  text-align: center;
}

.info-card {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 24px;
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 16px;
}
.info-card .card-icon{
  width: 56px;
  height: 56px;
  border-radius: 21px;
  border: solid 1px rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-card .label {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 4px;
}
.info-card .data {
  font-size: 24px;
  font-weight: 500;
  padding: 0;
}
.info-card .info-card-question-icon {
  vertical-align: middle;
  font-size: 0.9rem;
  opacity: 0.8;
}

.table-referral-code {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}
.table-referral-code .copy-icon:hover {
  opacity: 0.75;
}

.referral-code {
  display: flex;
}
.referral-code span {
  margin-right: 0.5rem;
  font-family: monospace;
}
.table-referral-code .info {
  margin-left: 0.5rem;
}
.referral-table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  border-collapse:separate;
  border-spacing:0px 10px;
}
.referral-table tbody tr{
  background: rgba(255, 255, 255, 0.05);
}
.referral-table td:first-child,
.referral-table th:first-child {
  padding-left: 48px;
}
.td-icon{
  border-radius: 13px;
  background-color: rgba(255, 255, 255, 0.05);
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 8px;
  cursor: pointer;
}
.td-icon:hover{
  opacity: 0.75;
}
.referral-table th {
  font-weight: normal;
  letter-spacing: 0.25px;
  color: #bfbfbe;
  text-transform: uppercase;
}
.referral-table th,
.referral-table td {
  padding: 0.625em;
  text-align: left;
}

.table-referral-code p {
  margin: 0;
  margin-left: 0.5rem;
  padding: 0;
}
.error {
  margin: 0;
  padding: 0.5rem 0 1rem;
  color: #ff7b41;
  font-size: 0.9rem;
}

.table-wrapper {
  display: block;
  width: 100%;
}

.empty-message {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 1px solid rgba(234, 234, 234, 0.15);
  border-radius: 15px;
  background: rgba(118, 118, 128, 0.24);
}
.confirm-checkbox .Checkbox {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  direction: rtl;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

@media (max-width: 800px) {
  .referral-table {
    width: auto;
    margin-bottom: 1rem;
  }
  .table-wrapper {
    overflow-x: auto;
  }
  .table-head {
    white-space: nowrap;
  }
}
.ahreftextcolor {
  color: white;
}
.ahreftextcolor:hover {
  color: white;
}
.card-details {
  /* padding-top: 20px; */
}
.card-details .Tooltip-handle{
  color: rgba(255, 255, 255, 0.6);
}
.referrals-header-big {
}

.referrals-header {
  background-image: url("https://res.cloudinary.com/dfsqsebxd/image/upload/v1686282683/website-assets/referralsBg.png");
  background-repeat: no-repeat;
  height: 593px;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1442px;
  margin: 0 auto;
  position: relative;
}

@media screen and (min-width: 1600px) {
  .referrals-header {
    border-radius: 0 0 30px 30px;
    -webkit-border-radius: 0 0 30px 30px;
    -moz-border-radius: 0 0 30px 30px;
    -ms-border-radius: 0 0 30px 30px;
    -o-border-radius: 0 0 30px 30px;
  }
}

.referrals-header h3 {
  font-size: 48px;
  font-weight: 900;
  background: linear-gradient(to left, #ffed90 , #fff9c5 , #fff , #b9b9b9 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.referrals-header--text {
  position: absolute;
  top: 64px;
  /* max-width: 550px; */
  /* margin-left: 240px; */
}

@media screen and (max-width: 406px) {
  .referrals-header--text h3 {
    margin-left: 0;
    font-size: 50px;
  }
}

.referrals-header--text p {
  font-family: "Boston";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  /* or 160% */

  letter-spacing: -0.02em;

  /* Text %80 */

  color: rgba(255, 255, 255, 0.8);
}

.refer-texts {
  text-align: center;
}

.refer-texts h4 {
  font-family: "Boston";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 46px;
  /* identical to box height */

  letter-spacing: -0.01em;
}

.refer-texts p {
  font-family: "Boston";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  /* identical to box height, or 160% */

  letter-spacing: -0.02em;

  /* Text %80 */

  color: rgba(255, 255, 255, 0.8);
}

.instructions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;

  width: 100%;
}

.instruction-container {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  padding: 24px;
  flex-basis: 100%;
  text-align: center;
  max-width: 438px;
}

.instruction-container--header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
}

.instruction-container--header span {
  font-family: "Boston";
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 53px;
  letter-spacing: -0.03em;

  /* Gradient typo 2 */

  background: linear-gradient(89.76deg, #fff9f0 -1.81%, #f2c75c 74.59%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.instruction-container p{
  margin-top: 26px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  /* identical to box height, or 160% */

  letter-spacing: normal;

  /* Text %80 */

  color: #fff;
}
.instruction-container p:last-child{
  opacity: 0.5;
  font-size: 18px;
  font-weight: 600;
  margin-top: 16px;
}

.ref-container .Tab {
  /* margin-top: 60px !important; */
  margin-bottom: 20px !important;
  max-width: 528px !important;
  background: rgba(0, 0, 0, 0.1);
  padding: 8px;
  margin: 0 auto;
  border-radius: 22px;
}
.ref-container .Tab-option{
  border-radius: 17px;
}
.ref-container .card{
  border: none;
}
.rebate-container .card{
  background: none;

}
.ref-container {
  flex: 1 1 50%;
  width: 100%;
}
.create-btn{
  margin-bottom: 8px;
  background: rgba(255, 255, 255, 0.05);
  border: none;
  border-radius: 18px;
  color: rgba(255, 255, 255, 0.7);
  height: 48px;
}
.create-btn span{
  color: rgba(255, 255, 255, 0.7);
}
@media screen and (max-width: 1272px) {
  .referrals-header {
    background-image: none;
  }

  .referrals-header--text {
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
  }
}
